
<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <h1>Login</h1>

    <!-- flash message -->
    <% flash.each do |k, v|%>
      <p id="<%= k %>"><%= v %></p>
    <% end %>

      <!-- LOGIN FORM -->
      <%= form_for :user do |f| %>
          <div class="form-group">
            <%= f.label :email  %>:
            <%= f.text_field :email, class: "form-control", placeholder: "Enter email: guest@guest.com" %>
          </div>
          <div class="form-group">
            <%= f.label :password %>:
            <%= f.password_field :password, class: "form-control", placeholder: "Enter password: password" %>
          </div>
          <div class="form-group">
            <%= f.submit "Login", class: "form-control btn btn-danger"%>
          </div>
      <% end %>


  </div>
</div>