<div class ="row">

		<div class ="col-xs-4 col-xs-offset-1">
			<h2>Artists:</h2>
		</div>

		<div class ="col-xs-6">
			<h2>Current Activities:</h2>
		</div>


	</div>
	<br>

<% @users.each do |user| %>
	<div class ="row">

		<div class ="col-xs-4 col-xs-offset-1">
			<img src="<%= user.image_url %>"/>
			<br>
			<h4>  <%= link_to(user.first_name+" "+user.last_name , user_path(user)) %></h4>
		</div>

		<div class ="col-xs-6">
			<% if user.tracks.count > 0 %>

					<h3>Task: <%= link_to(user.tracks.last.task, user_path(user)) %></h3>

				<audio id ="demo" src="<%= user.tracks.last.file.url %>" preload = "auto" controls = "true"> </audio>

					<%= form_for [user.tracks.last, @comment] do |f| %>
						<div class="form-group">
						<%= f.text_area :description, class: "form-control",
						placeholder: "Comment here" %>
						</div>
						<div class = "form-group">
						<%= f.submit class: "btn" %>
						</div>
					<% end %>

				<% end %>
		</div>


	</div>
	<br>
<% end%>